* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  background-color: transparent;
}
.nav-brand {
  font-family: "inter";
}
.nav-link {
  padding: 1em;
  text-decoration: none;
  color: black;
}

.row-center {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.col {
  text-align: center;
  margin: 24px 24px;
  flex-grow: 1;
  width: 30%;
}
.col-standard {
  margin: 24px 24 px;
  margin-left: 4%;
}
.btn-category {
  width: 300px;
  height: 40px;
  float: left;
  margin: 20px;
  text-align: center;
  background-color: white;
  border: 3px solid yellow;
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  font-family: "inter";
  border-radius: 54px;
  color: black;
}
.btn-link {
  padding: 1em;
  text-decoration: none;
  color: black;
  background-color: yellow;
  border-radius: 6px;
  font-weight: 900;
}
body {
  font-family: "Inter", sans-serif;
  background-image: url(img/circle-landing.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 40%;
  background-position-y: -20px;
}
.wel-mess {
  font-family: "Inter", sans-serif;
  font-size: 72px;
  font-weight: 800;
  line-height: 98px;
}

footer {
  text-align: center;
  padding-top: 100px;
}

.input-container {
  display: flex;
}

/* Style the form icons */
.icon {
  padding: 10px;
  min-width: 50px;
  text-align: center;

  position: absolute;
}

/* Style the input fields */
.input-field {
  width: 100%;
  padding: 10px;
  border: none;
  text-align: center;
  border-radius: 40px;
}
.home-image {
  margin-right: -2em;
}
section {
  /* margin-left: 40px; */
  margin-top: 120px;
  overflow: hidden;
}
.link-card {
  text-decoration: none;
  color: black;
  height: 700;
}
